@model EmpresasModel
@{
    ViewData["Title"] = "Empresa";
}
<h1>@ViewData["Title"]</h1>


<div class="text-center">
    <h3>Empresas</h3>
    <a type="button" class="btn btn-success float-end" asp-controller="Empresa" asp-action="CadastrarEmp">Cadastrar Empresa</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CNPJ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var empresa in Model.GetAll())
            {
                <tr>
                    <td>@empresa.ID.ToString("D5")</td>
                    <td>@empresa.Nome</td>
                    <td>@empresa.CNPJ</td>
                    <td>
                        <div>
                            <a type="button" class="btn btn-warning" asp-route-id="@empresa.ID" asp-controller="Empresa" asp-action="Alterar">Editar Empresa</a>
                            <a type="button" class="btn btn-danger" asp-route-id="@empresa.ID" asp-controller="Empresa" asp-action="Deletar">Apagar Empresa</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>