@model FiliaisModel
@{
    ViewData["Title"] = "Filial";
}
<h1>@ViewData["Title"]</h1>


<div class="text-center">
    <h3>Filiais</h3>
    <a type="button" class="btn btn-success float-end" asp-controller="Filial" asp-action="CadastrarFil">Cadastrar Filial</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Empresa</th>
                <th>CNPJ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var filial in Model.GetAll())
            {
                <tr>
                    <td>@filial.ID.ToString("D5")</td>
                    <td>@filial.Nome</td>
                    <td>@filial.EmpresaID</td>
                    <td>@filial.CNPJ</td>
                    <td>
                        <div>
                            <a type="button" class="btn btn-warning" asp-route-id="@filial.ID" asp-controller="Filial" asp-action="Alterar">Editar Filial</a>
                            <a type="button" class="btn btn-danger" asp-route-id="@filial.ID" asp-controller="Filial" asp-action="Deletar">Apagar Filial</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
