@model FiliaisModel
@{
    ViewData["Title"] = "Filial";
}
<h1>@ViewData["Title"]</h1>


<div class="text-center forms">
    <h3>Filiais</h3>
    
    
    <a type="button" asp-controller="Filial" asp-action="CadastrarFil" class="btn btn1">Cadastrar Filial</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Empresa</th>
                <th>CNPJ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var filial in Model.GetAll())
            {
                <tr>
                    <td>@filial.ID.ToString("D5")</td>
                    <td>@filial.Nome</td>
                    <td>@filial.PegarNomeEmpresa()</td>
                    <td>@filial.CNPJ</td>
                    <td>
                        <div>
                            <a type="button" asp-controller="Filial" asp-route-id="@filial.ID" asp-action="Alterar" class="btn btn1">Editar Filial</a>
                            <a type="button" asp-controller="Filial" asp-route-id="@filial.ID" asp-action="Deletar" class="btn btn1">Apagar Filial</a>
                          
                            
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
