@model ColaboradoresModel
@{
    ViewData["Title"] = "Colaboradores";
}
<h1>@ViewData["Title"]</h1>


<div class="text-center">
    <h3>Colaboradores</h3>
    <a type="button" class="btn btn-success float-end" asp-controller="Colaborador" asp-action="CadastrarCol">Cadastrar Colaborador</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Empresa</th>
                <th>Filial</th>
                <th>PIS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var colaborador in Model.GetAll())
            {
                <tr>
                    <td>@colaborador.ID.ToString("D5")</td>
                    <td>@colaborador.Nome</td>
                    <td>@colaborador.PegarNomeEmpresa()</td>
                    <td>@colaborador.PegarNomeFilial()</td>
                    <td>@colaborador.PIS</td>
                    <td>
                        <div>
                            <a type="button" class="btn btn-warning" asp-route-id="@colaborador.ID" asp-controller="Colaborador" asp-action="Alterar">Editar Colaborador</a>
                            <a type="button" class="btn btn-danger" asp-route-id="@colaborador.ID" asp-controller="Colaborador" asp-action="Deletar">Apagar Colaborador</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>